<!-- /sections/cart.liquid -->
{%- liquid
  assign hide_quantity = 'quantity--hide'
  if section.settings.cart_show_quantity
    assign hide_quantity = ''
  endif

  assign ajax_disable = false
  assign no_ajax_class = ''
  if settings.cart_style == 'compatible'
    assign ajax_disable = true
    assign no_ajax_class = 'no--ajax'
  endif

  assign full_init = ''
  assign empty_init = 'cart--hidden'
  if cart.item_count == 0
    assign empty_init = ''
    assign full_init = 'cart--hidden'
  endif
-%}
<style>
  .cart__template .cart-protection-container {
  grid-column: 1 / -1;  /* Span across all grid columns */
  margin: 10px 0;       /* Proper spacing */
  padding: 15px;        /* More breathing room */
  max-width: none;      /* Full width */
}
</style>
<div class="cart__template {{ no_ajax_class }} {{ hide_quantity }} {{ section.settings.bg }}"
  data-cart-message-container
  data-section-id="{{ section.id }}"
  data-section-type="cart"
  data-ajax-disable="{{ ajax_disable }}"
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;">
  {% comment %} Cart is empty {% endcomment %}
  <div class="cart__empty__page {{ empty_init }}" data-cart-empty>
    {% render 'cart-empty' %}
  </div>
  {% comment %} Cart is full {% endcomment %}
  <div class="{{ section.settings.width }} section-padding {{ full_init }}" data-cart-form data-cart-loading>
    <form action="{{ routes.cart_url }}" method="post" novalidate class="cart">
      <h3 class="cart__page__title body-size-8">{{ 'cart.general.title' | t }}</h3>
      <div class="drawer__benefits">
            <div class="drawer__benefits__item">
              <div class="drawer__benefits__item__icon">
<svg xmlns="http://www.w3.org/2000/svg" width="34" height="20" viewBox="0 0 34 20" fill="none">
  <path d="M9.69336 0C8.6273 0 7.90252 0.98487 7.90234 2.02441V3.29297H5.08789C2.19161 3.29297 9.53674e-05 6.13556 0 9.42871V15.1768C0.000301361 16.3366 0.786091 17.4639 1.95508 17.4639H2.57129C2.80855 18.481 3.7265 19.2354 4.81738 19.2354C5.90823 19.2353 6.8262 18.481 7.06348 17.4639H16.7822C17.0195 18.481 17.9374 19.2354 19.0283 19.2354C20.1192 19.2353 21.0371 18.481 21.2744 17.4639H22.916C23.9822 17.4639 24.707 16.4782 24.707 15.4385V2.02441C24.7069 0.984869 23.9821 0 22.916 0H9.69336ZM19.0283 15.6582C19.7554 15.6583 20.3357 16.2399 20.3359 16.9463C20.3357 17.6526 19.7554 18.2353 19.0283 18.2354C18.3012 18.2354 17.721 17.6526 17.7207 16.9463C17.7209 16.2399 18.3012 15.6582 19.0283 15.6582ZM4.81738 15.6582C5.5445 15.6583 6.12479 16.2399 6.125 16.9463C6.12473 17.6526 5.54446 18.2353 4.81738 18.2354C4.09026 18.2354 3.51003 17.6526 3.50977 16.9463C3.50998 16.2399 4.09022 15.6582 4.81738 15.6582ZM22.916 1C23.2802 1 23.7069 1.3747 23.707 2.02441V15.4385C23.707 16.0884 23.2803 16.4639 22.916 16.4639H21.2842C21.0605 15.4286 20.132 14.6582 19.0283 14.6582C17.9246 14.6582 16.9961 15.4286 16.7725 16.4639H8.90234V2.02441C8.90251 1.3747 9.32914 1 9.69336 1H22.916ZM7.90234 16.4639H7.07324C6.84954 15.4286 5.9211 14.6582 4.81738 14.6582C3.71362 14.6582 2.78521 15.4286 2.56152 16.4639H1.95508C1.52076 16.4639 1.00029 15.9863 1 15.1768V9.42871C1.00009 6.48697 2.92534 4.29297 5.08789 4.29297H7.90234V16.4639ZM26.0986 12.9219C25.8708 12.9685 25.6992 13.1705 25.6992 13.4121C25.6994 13.6536 25.8709 13.8558 26.0986 13.9023L26.1992 13.9121H29.9922C30.2682 13.9121 30.4919 13.688 30.4922 13.4121C30.4922 13.136 30.2683 12.9121 29.9922 12.9121H26.1992L26.0986 12.9219ZM26.0947 9.67871C25.8671 9.72549 25.6963 9.92746 25.6963 10.1689C25.6965 10.4102 25.8672 10.6125 26.0947 10.6592L26.1963 10.6689H31.2305C31.5064 10.6689 31.7302 10.4449 31.7305 10.1689C31.7305 9.8928 31.5066 9.66895 31.2305 9.66895H26.1963L26.0947 9.67871ZM26.0967 6.51074C25.8689 6.55735 25.6974 6.75949 25.6973 7.00098C25.6973 7.24257 25.8689 7.44456 26.0967 7.49121L26.1973 7.50098H32.7695C33.0457 7.50098 33.2695 7.27712 33.2695 7.00098C33.2694 6.72497 33.0456 6.50098 32.7695 6.50098H26.1973L26.0967 6.51074Z" fill="white"/>
</svg>
              </div>
              <div class="drawer__benefits__item__text">
                Free Delivery
              </div>
            </div>
                        <div class="drawer__benefits__item">
              <div class="drawer__benefits__item__icon">
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22" fill="none">
  <path d="M13.7615 17.8179C13.3322 17.8179 12.9474 17.708 12.6072 17.4881C12.2721 17.2682 12.0051 16.9489 11.8062 16.53C11.6125 16.1112 11.5156 15.6034 11.5156 15.0066C11.5156 14.4098 11.6125 13.902 11.8062 13.4832C12.0051 13.0644 12.2721 12.745 12.6072 12.5251C12.9474 12.3053 13.3322 12.1953 13.7615 12.1953C14.1856 12.1953 14.5677 12.3053 14.908 12.5251C15.2483 12.745 15.5153 13.0644 15.709 13.4832C15.9027 13.902 15.9996 14.4098 15.9996 15.0066C15.9996 15.6034 15.9027 16.1112 15.709 16.53C15.5153 16.9489 15.2483 17.2682 14.908 17.4881C14.5677 17.708 14.1856 17.8179 13.7615 17.8179ZM13.7615 17.119C14.0495 17.119 14.3007 17.0405 14.5154 16.8834C14.7353 16.7264 14.9054 16.4908 15.0258 16.1767C15.1515 15.8626 15.2143 15.4725 15.2143 15.0066C15.2143 14.5407 15.1515 14.1507 15.0258 13.8365C14.9054 13.5224 14.7353 13.2868 14.5154 13.1298C14.3007 12.9727 14.0495 12.8942 13.7615 12.8942C13.4736 12.8942 13.2197 12.9727 12.9998 13.1298C12.7799 13.2868 12.6072 13.5224 12.4815 13.8365C12.3611 14.1507 12.3009 14.5407 12.3009 15.0066C12.3009 15.4725 12.3611 15.8626 12.4815 16.1767C12.6072 16.4908 12.7799 16.7264 12.9998 16.8834C13.2197 17.0405 13.4736 17.119 13.7615 17.119Z" fill="white"/>
  <path d="M8.9959 17.8179C8.56661 17.8179 8.18182 17.708 7.84154 17.4881C7.50648 17.2682 7.23949 16.9489 7.04055 16.53C6.84685 16.1112 6.75 15.6034 6.75 15.0066C6.75 14.4098 6.84685 13.902 7.04055 13.4832C7.23949 13.0644 7.50648 12.745 7.84154 12.5251C8.18182 12.3053 8.56661 12.1953 8.9959 12.1953C9.41995 12.1953 9.80211 12.3053 10.1424 12.5251C10.4827 12.745 10.7497 13.0644 10.9434 13.4832C11.1371 13.902 11.2339 14.4098 11.2339 15.0066C11.2339 15.6034 11.1371 16.1112 10.9434 16.53C10.7497 16.9489 10.4827 17.2682 10.1424 17.4881C9.80211 17.708 9.41995 17.8179 8.9959 17.8179ZM8.9959 17.119C9.28383 17.119 9.53512 17.0405 9.74976 16.8834C9.96964 16.7264 10.1398 16.4908 10.2602 16.1767C10.3858 15.8626 10.4487 15.4725 10.4487 15.0066C10.4487 14.5407 10.3858 14.1507 10.2602 13.8365C10.1398 13.5224 9.96964 13.2868 9.74976 13.1298C9.53512 12.9727 9.28383 12.8942 8.9959 12.8942C8.70796 12.8942 8.45405 12.9727 8.23418 13.1298C8.0143 13.2868 7.84154 13.5224 7.71589 13.8365C7.59548 14.1507 7.53528 14.5407 7.53528 15.0066C7.53528 15.4725 7.59548 15.8626 7.71589 16.1767C7.84154 16.4908 8.0143 16.7264 8.23418 16.8834C8.45405 17.0405 8.70796 17.119 8.9959 17.119Z" fill="white"/>
  <path d="M5.24074 17.7555V12.5727L5.57841 12.9418H4V12.2586H6.01817V17.7555H5.24074Z" fill="white"/>
  <path d="M17 3H3C1.89543 3 1 3.89543 1 5V19C1 20.1046 1.89543 21 3 21H17C18.1046 21 19 20.1046 19 19V5C19 3.89543 18.1046 3 17 3Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M14 1V5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M6 1V5" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M1 9H19" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
              </div>
              <div class="drawer__benefits__item__text">
                100 Days Free Trial
              </div>
            </div>
                        <div class="drawer__benefits__item">
              <div class="drawer__benefits__item__icon">
<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
  <g clip-path="url(#clip0_2946_3306)">
    <path d="M19 9.50059C19 14.7472 14.7472 19.0012 9.49941 19.0012C4.25159 19.0012 0 14.7472 0 9.50059C0 4.25394 4.25277 0 9.50059 0C14.7484 0 19.0012 4.25277 19.0012 9.50059H19ZM17.9721 9.49941C17.9721 4.82019 14.1786 1.02677 9.49941 1.02677C4.82019 1.02677 1.02795 4.82019 1.02795 9.49941C1.02795 14.1786 4.82137 17.9721 9.50059 17.9721C14.1798 17.9721 17.9732 14.1786 17.9732 9.49941H17.9721Z" fill="white"/>
    <path d="M10.0316 3.68418L10.0363 4.97176C11.2757 5.02228 12.1474 6.19707 12.38 7.32488L11.3356 7.31196C11.1641 5.39234 7.89931 5.30893 7.73367 7.2027C7.57742 8.98134 9.95991 8.90851 11.0865 9.38312C13.7944 10.525 12.7688 14.1974 10.0316 14.2574V15.3147H8.97308L8.96838 14.2621C7.43762 14.1552 6.30981 12.8535 6.38852 11.3204L7.31309 11.3356C7.31309 13.6758 11.3943 14.0823 11.5529 11.8361C11.7256 9.3984 7.41412 10.478 6.73391 8.33168C6.18528 6.59885 7.2426 5.12213 8.96133 4.84723L8.97308 3.68301H10.0316V3.68418Z" fill="white"/>
  </g>
  <defs>
    <clipPath id="clip0_2946_3306">
      <rect width="19" height="19" fill="white"/>
    </clipPath>
  </defs>
</svg>
              </div>
              <div class="drawer__benefits__item__text">
                Flexible Payments
              </div>
            </div>
          </div>
      <div class="errors" data-form-errors style="display: none;"></div>
      <div class="cart__items__grid cart__heading__wrapper">
        <div class="cart__heading__back">
          <a href="{{ settings.cart_continue_browsing | default: routes.all_products_collection_url }}" class="cart__heading cart__return">
            {% render 'icon-core-chevron-left' %}
            &nbsp;
            {{ 'cart.general.continue_browsing' | t }}
          </a>
        </div>
        <div class="cart__items__price">
          <p class="cart__heading">{{ 'cart.label.price' | t }}</p>
        </div>
        <div class="cart__items__quantity">
          <p class="cart__heading">{{ 'cart.label.quantity' | t }}</p>
        </div>
        <div class="cart__items__total">
          <p class="cart__heading">{{ 'cart.label.total' | t }}</p>
        </div>
      </div>
      <div class="template__cart__body">
        <div class="errors" data-form-errors style="display: none;"></div>
        <div data-cart-form>
            {% comment %}
              The following snippet is refreshed via ajax with
              cart.items.liquid when the quantity is adjusted.
            {% endcomment %}
            <div data-line-items>
            {% render 'cart-line-items' %}
            </div>
        </div>
                  <div class="cart__page__upsell">
            {% render 'cart-upsell', section: section %}
          </div>
        <div class="template__cart__footer{% if additional_checkout_buttons and section.settings.cart_show_additional_buttons %} template__cart__footer--additional_buttons{% endif %}" data-cart-bottom>

          <div class="cart__footer__notes">
            {%- if section.settings.cart_notes_enable -%}
              <label class="cart__notes__label" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" class="input-full" id="CartSpecialInstructions" data-cart-note>{{ cart.note }}</textarea>
            {%- endif -%}
          </div>
          <div class="cart__footer__shipping">
            {%- if section.settings.cart_shipping_enable -%}
              {% render 'cart-shipping-estimate' %}
            {%- endif -%}
          </div>
          <div class="cart__footer__total">
            {% if section.settings.cart_custom_message_enable and section.settings.cart_custom_message_text != blank %}
              <div class="cart__message cart__message--custom">
                {{ section.settings.cart_custom_message_text }}
              </div>
            {% endif %}

            <div class="cart__page__shipping">
              {%- if section.settings.show_free_shipping_message -%}
                {% render 'cart-shipping-message', message: section.settings.message, show_wheel: true %}
              {%- endif -%}
            </div>

            <div class="page__footer__subtotal" data-cart-subtotal>
              {% render 'cart-subtotal' %}
            </div>

            <p>
              <span class="cart__footer__label">{{ 'cart.general.subtotal' | t }}</span>
              <span class="cart__footer__value" data-cart-final>
                {{ cart.total_price | money_with_currency }}
              </span>
            </p>
            <p class="cart__footer__small">{{ 'cart.general.shipping_at_checkout' | t }}</p>
          </div>

          <div class="cart__footer__checkout">
            <button type="submit" name="checkout" class="btn btn--primary btn--large checkout__button">
              {{ 'cart.general.checkout' | t }}
            </button>
          </div>

          <div class="cart__footer__update">
            <span class="cart__update" data-update-button>
              <span class="cart__update__icon">{% render 'icon-core-sync' %}</span>
              <button type="submit" name="update" class="text-link-bare">
                {{ 'cart.general.update' | t }}
              </button>
            </span>
          </div>

          {% if additional_checkout_buttons and section.settings.cart_show_additional_buttons %}
            <div class="cart__footer__additional">
              <div class="additional-checkout-buttons">
                {{ content_for_additional_checkout_buttons }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
</div>

<style>
/* Cart Page Upsell Styling */
.cart__page__upsell {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid var(--color-border);
  /* Make upsell span full width of the grid */
  grid-column: 1 / -1;
  width: 100%;
  background-color: #F6F6F6;
}

.cart__page__upsell .cart-upsell {
  padding: 0;
}

.cart__page__upsell .cart-upsell__title {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: -0.72px;
}

.cart__page__upsell .cart-upsell__carousel {
  overflow: hidden;
}

.cart__page__upsell .cart-upsell__slide {
  padding: 0 10px;
  width: calc(100% / 2.5); /* Larger items - show 2 per view on desktop */
}

.cart__page__upsell .cart-upsell-card {
  display: flex;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: 1px solid var(--color-border);
  min-height: 140px;
}

.cart__page__upsell .cart-upsell-card__image {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  padding: 8px;
}

.cart__page__upsell .cart-upsell-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.cart__page__upsell .cart-upsell-card__content {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.cart__page__upsell .cart-upsell-card__title {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  line-height: 1.2;
}

.cart__page__upsell .cart-upsell-card__price {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
}

.cart__page__upsell .cart-upsell-card__price-sale {
  color: #D92121;
  font-weight: 600;
  margin-right: 5px;
}

.cart__page__upsell .cart-upsell-card__price-compare {
  text-decoration: line-through;
  color: #777;
}

.cart__page__upsell .cart-upsell-form {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart__page__upsell .cart-upsell-form > div{
  width: 100%;
}
.cart__page__upsell .cart-upsell-form > div > form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:30px;
}
.cart__page__upsell .cart-upsell-card__variants {
  width: 50%;
}

.cart__page__upsell .cart-upsell-card__variant-select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  height: 35px;
  margin-bottom: 0px;
}

.cart__page__upsell button.cart-upsell-card__button[name="add"] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  background-color: #000;
  color: #FFF;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  margin: 0;
  white-space: nowrap;
}

.cart__page__upsell button.cart-upsell-card__button[name="add"]:hover {
  background-color: #333;
  transform: translateY(-1px);
}

.cart__page__upsell button.cart-upsell-card__button:disabled {
  background-color: #999;
  cursor: not-allowed;
  transform: none;
}
.drawer__benefits {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #303030;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 10px;
}
.drawer__benefits__item {
    display: flex;
    gap: 5px;
    align-items: center;
}
.drawer__benefits__item__icon svg{
  width: auto;
  height: 24px;
}
.drawer__benefits__item__text{
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 18.2px */
}
/* Mobile styles */
@media (max-width: 768px) {
  .cart__page__upsell .cart-upsell__slide {
    width: calc(100% / 2.5); /* Show 1.5 items on tablet */
  }
  
  .cart__page__upsell .cart-upsell-card__title {
    font-size: 16px;
  }
  
  .cart__page__upsell .cart-upsell-card__price {
    font-size: 16px;
  }
  
  .cart__page__upsell .cart-upsell-card__image {
    width: 110px;
    height: 110px;
  }
  
  .cart__page__upsell .cart-upsell-card__content {
    padding: 12px;
  }
  
  .cart__page__upsell .cart-upsell-card__button {
    font-size: 14px;
    padding: 10px 16px;
  }
  .cart__page__upsell .cart-upsell-form > div > form{
    gap:3px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .cart__page__upsell .cart-upsell-card__variants {
    width: 50%;
}
.cart__page__upsell button.cart-upsell-card__button[name="add"]{
  padding: 8px 15px;
      width: 50%;
      font-size: 14px;
      font-weight: 500; 

}
.cart__page__upsell .cart-upsell-card__title {
  margin: 0 0 0px;

}

.cart__page__upsell .cart-upsell-card__price {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 500;
}
.cart__page__upsell .cart-upsell-card__content{
  justify-content: start;
  gap:3px;
}
  .drawer__benefits__item {
    flex-direction: column;
    flex-wrap: nowrap;
}
}

@media (max-width: 480px) {
  .cart__page__upsell .cart-upsell__slide {
    width: calc(100% / 1.1); /* Show 1.1 items on mobile */
  }
  
  .cart__page__upsell .cart-upsell__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .cart__page__upsell .cart-upsell-card {
    min-height: 100px;
  }
  
  .cart__page__upsell .cart-upsell-card__image {
    width: 100px;
    height: 100px;
  }
  .drawer__benefits__item__text {
    font-size: 14px;
  }
  .drawer__benefits__item__icon svg{
    height: 20px;
  }
}
</style>

{% schema %}
{
  "settings": [
    {
      "type": "checkbox",
      "id": "cart_shipping_enable",
      "label": "Enable shipping estimates",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "cart_show_quantity",
      "label": "Show quantity selectors",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "cart_notes_enable",
      "label": "Show cart notes",
      "default": false
    },
    {
      "type": "header",
      "content": "Free shipping message"
    },
    {
      "type": "checkbox",
      "id": "show_free_shipping_message",
      "label": "Show free shipping message",
      "default": false
    },
    {
      "type": "textarea",
      "id": "message",
      "label": "Message",
      "info": "Use ||amount|| to display progress towards free shipping.",
      "default": "Spend ||amount|| more for free shipping"
    },
    {
      "type": "header",
      "content": "Custom cart message"
    },
    {
      "type": "checkbox",
      "id": "cart_custom_message_enable",
      "label": "Show custom message",
      "default": false
    },
    {
      "type": "richtext",
      "id": "cart_custom_message_text",
      "label": "Message text",
      "default": "<p>Use code <strong>TENOFF</strong> at checkout for 10% off</p>"
    },
    {
      "type": "header",
      "content": "Upsell Products"
    },
    {
      "type": "checkbox",
      "id": "show_upsell_carousel",
      "label": "Show upsell products carousel",
      "default": false
    },
    {
      "type": "text",
      "id": "upsell_title",
      "label": "Upsell section title",
      "default": "You may also like"
    },
    {
      "type": "range",
      "id": "desktop_items_per_view",
      "min": 1,
      "max": 5,
      "step": 0.5,
      "label": "Desktop items per view",
      "default": 2
    },
    {
      "type": "range",
      "id": "tablet_items_per_view",
      "min": 1,
      "max": 4,
      "step": 0.5,
      "label": "Tablet items per view",
      "default": 1.5
    },
    {
      "type": "range",
      "id": "mobile_items_per_view",
      "min": 1,
      "max": 3,
      "step": 0.1,
      "label": "Mobile items per view",
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "label": "Enable autoplay",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Autoplay speed (in seconds)",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "enable_free_scroll",
      "label": "Enable free scroll",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_wrap_around",
      "label": "Enable wrap around",
      "default": false
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "select",
      "id": "cart_color_bg",
      "label": "Background color",
      "default": "palette--light bg--neutral",
      "options": [
        {
          "value": "palette--light bg--neutral",
          "label": "Default"
        },
        {
          "value": "palette--light bg--accent",
          "label": "Light"
        },
        {
          "value": "palette--dark bg--invert",
          "label": "Dark"
        },
        {
          "value": "palette--dark bg--invert--accent",
          "label": "Dark accent"
        },
        {
          "value": "palette--bright bg--bright",
          "label": "Bright"
        },
        {
          "value": "palette--bright bg--bright--accent",
          "label": "Bright accent"
        }
      ]
    },
    {
      "type": "header",
      "content": "Additional checkout buttons"
    },
    {
      "type": "paragraph",
      "content": "Not recommended for drawer style and popup style cart"
    },
    {
      "type": "checkbox",
      "id": "cart_show_additional_buttons",
      "label": "Show additional checkout options on cart",
      "info": "Move buttons for Apple Pay, Amazon Pay and PayPal express from the first step of the checkout to the cart.",
      "default": false
    },
    {
      "type": "select",
      "id": "bg",
      "label": "Background color",
      "default": "palette--light bg--neutral",
      "options": [
        { "value": "palette--light bg--neutral", "label": "Default"},
        { "value": "palette--light bg--accent", "label": "Light"},
        { "value": "palette--dark bg--invert", "label": "Dark"},
        { "value": "palette--dark bg--invert--accent", "label": "Dark accent"},
        { "value": "palette--bright bg--bright", "label": "Bright"},
        { "value": "palette--bright bg--bright--accent", "label": "Bright accent"}
      ]
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" },
        { "value": "wrapper--narrow", "label": "Page width narrow" }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "upsell_product",
      "name": "Upsell Product",
      "limit": 5,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ]
}
{% endschema %}
