{%- liquid
  if section.settings.desktop_image != blank
    assign desktop_image_height = section.settings.desktop_image.height
    assign desktop_image_width = section.settings.desktop_image.width
    assign desktop_aspect_ratio = desktop_image_height | times: 100 | divided_by: desktop_image_width
    assign desktop_viewport_height = desktop_aspect_ratio | append: 'vw'
  else 
    assign desktop_viewport_height = '66vh'
  endif

  if section.settings.mobile_image != blank
    assign mobile_image_height = section.settings.mobile_image.height
    assign mobile_image_width = section.settings.mobile_image.width
    assign mobile_aspect_ratio = mobile_image_height | times: 100 | divided_by: mobile_image_width
    assign mobile_viewport_height = mobile_aspect_ratio | append: 'vw'
  else
    assign mobile_viewport_height = desktop_viewport_height
  endif
-%}

<style>
  /* General Section Styling */
  #section-{{ section.id }} {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    overflow: hidden;
  }
  /* Mobile Section */
  #section-{{ section.id }}.mobile {
    display: none;
    background-image: url({{ section.settings.mobile_image | img_url: 'master' }});
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    padding-left: {{ section.settings.mobile_side_padding }}px;
    padding-right: {{ section.settings.mobile_side_padding }}px;
  }
  /* Desktop Section */
  #section-{{ section.id }}.desktop {
    display: block;
    background-image: url({{ section.settings.desktop_image | img_url: 'master' }});
    padding-top: {{ section.settings.desktop_padding_top }}px;
    padding-bottom: {{ section.settings.desktop_padding_bottom }}px;
    padding-left: {{ section.settings.desktop_side_padding }}px;
    padding-right: {{ section.settings.desktop_side_padding }}px;
  }

  /* Height Classes */
  #section-{{ section.id }}.use_screen_full {
    height: 100vh;
  }
  #section-{{ section.id }}.use_screen_three_quarters {
    height: 75vh;
  }
  #section-{{ section.id }}.use_screen_two_thirds {
    height: 66vh;
  }
  #section-{{ section.id }}.use_screen_one_half {
    height: 50vh;
  }
  #section-{{ section.id }}.use_screen_one_third {
    height: 33vh;
  }
  #section-{{ section.id }}.use_screen_one_fifth {
    height: 20vh;
  }
  #section-{{ section.id }}.use_pixels_800 {
    height: 800px;
  }
  #section-{{ section.id }}.use_pixels_650 {
    height: 650px;
  }
  #section-{{ section.id }}.use_pixels_500 {
    height: 500px;
  }
  #section-{{ section.id }}.desktop.use_image {
    height: {{ desktop_viewport_height }};
  }

  /* Flex Container for Desktop */
  #section-{{ section.id }} .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
  }

  /* Flex Columns */
  #section-{{ section.id }} .flex-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
  }

  /* Content Boxes */
  #section-{{ section.id }} .content-box {
    display: flex;
    flex-direction: column;
    justify-content: {{ section.settings.box_justify_content }};
    align-items: {{ section.settings.box_align_items }};
    padding: 15px;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    text-align: {{ section.settings.box_text_align }};
    color: {{ section.settings.box_text_color }};
  }

  /* Content Styling */
  #section-{{ section.id }} .content-box a.standard__cta  {
    max-width: 150px;
    min-width: 150px;
    display: flex;
    justify-content: center;
}

  /* Mobile Content Box */
  #section-{{ section.id }} .mobile-content-box {
    display: none;
    flex-direction: column;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: {{ section.settings.mobile_box_text_align }};
    color: {{ section.settings.mobile_text_color }};
  }

  /* Responsive Design for Mobile */
  @media (max-width: 480px) {
    #section-{{ section.id }}.desktop {
      display: none;
    }

    #section-{{ section.id }}.mobile {
      display: flex;
      justify-content: {{ section.settings.mobile_box_vertical_align }};
      {% if section.settings.mobile_image != blank %}
        background-image: url({{ section.settings.mobile_image | img_url: 'master' }});
      {% endif %}
    }
 
    #section-{{ section.id }}.mobile.use_image {
      height: {{ mobile_viewport_height }};
    }

    #section-{{ section.id }}.mobile.use_screen_full {
      height: 100vh;
    }
    #section-{{ section.id }}.mobile.use_screen_three_quarters {
      height: 75vh;
    }
    #section-{{ section.id }}.mobile.use_screen_two_thirds {
      height: 66vh;
    }
    #section-{{ section.id }}.mobile.use_screen_one_half {
      height: 50vh;
    }
    #section-{{ section.id }}.mobile.use_screen_one_third {
      height: 33vh;
    }
    #section-{{ section.id }}.mobile.use_screen_one_fifth {
      height: 20vh;
    }
    #section-{{ section.id }}.mobile.use_pixels_800 {
      height: 800px;
    }
    #section-{{ section.id }}.mobile.use_pixels_650 {
      height: 650px;
    }
    #section-{{ section.id }}.mobile.use_pixels_500 {
      height: 500px;
    }

    #section-{{ section.id }} .flex-container {
      flex-direction: column;
    }

    #section-{{ section.id }} .flex-column {
      display: none; /* Hide desktop columns */
    }

    #section-{{ section.id }} .mobile-content-box {
      display: flex;
      justify-content: {{ section.settings.mobile_box_vertical_align }};
      text-align: {{ section.settings.mobile_box_text_align }};
    }
    #section-{{ section.id }} .flex-container {
      display: none;
    }
  }
</style>

<section id="section-{{ section.id }}" 
         class="desktop {{ section.settings.height }} {{ section.settings.background_position }} mobile">
  <div class="flex-container">
    <!-- Left Column -->
    <div class="flex-column" style="align-items: {{ section.settings.left_box_justify }}; justify-content: {{ section.settings.left_box_align }}; color: {{ section.settings.left_box_text_color }};text-align: {{ section.settings.left_box_text_align }};">
      <div class="content-box" style="align-items: {{ section.settings.left_box_justify }}; justify-content: {{ section.settings.left_box_align }}; color: {{ section.settings.left_box_text_color }};text-align: {{ section.settings.left_box_text_align }};">
        {% if section.settings.left_box_kicker %}
          <div class="hero__kicker accent-size-3 aos-init aos-animate">
            <p>{{ section.settings.left_box_kicker }}</p>
          </div>
        {% endif %}
        {% if section.settings.left_box_title %}
          {% if section.settings.left_box_button_link != blank %}
            <a href="{{ section.settings.left_box_button_link }}">
          {% endif %}
          <div class="hero__title heading-size-10 aos-init aos-animate">
            <p>{{ section.settings.left_box_title }}</p>
          </div> 
          {% if section.settings.left_box_button_link != blank %}
            </a>
          {% endif %}
        {% endif %}
        {% if section.settings.left_box_text %}
          <div class="hero__description rte body-size-6 aos-init aos-animate">
            <p>{{ section.settings.left_box_text }}</p>
          </div>
        {% endif %}
        {% if section.settings.left_box_button_html != blank %}
          <a href="{{ section.settings.left_box_button_link }}" class="standard__cta hero__btn btn--outline btn--white btn--long aos-init aos-animate">
            {{ section.settings.left_box_button_html }}
          </a>
        {% endif %}
      </div>
    </div>

    <!-- Right Column -->
    <div class="flex-column" style="align-items: {{ section.settings.right_box_justify }}; justify-content: {{ section.settings.right_box_align }}; color: {{ section.settings.right_box_text_color }};text-align: {{ section.settings.right_box_text_align }};">
      <div class="content-box" style="align-items: {{ section.settings.right_box_justify }}; justify-content: {{ section.settings.right_box_align }}; color: {{ section.settings.right_box_text_color }};text-align: {{ section.settings.right_box_text_align }};">
        {% if section.settings.right_box_kicker %}
          <div class="hero__kicker accent-size-3 aos-init aos-animate">
            <p>{{ section.settings.right_box_kicker }}</p>
          </div>
        {% endif %}
        {% if section.settings.right_box_title %}
          {% if section.settings.right_box_button_link != blank %}
            <a href="{{ section.settings.right_box_button_link }}">
          {% endif %}
          <div class="hero__title heading-size-10 aos-init aos-animate">
            <p>{{ section.settings.right_box_title }}</p>
          </div>
          {% if section.settings.right_box_button_link != blank %}
            </a>
          {% endif %}
        {% endif %}
        {% if section.settings.right_box_text %}
          <div class="hero__description rte body-size-6 aos-init aos-animate">
            <p>{{ section.settings.right_box_text }}</p>
          </div>
        {% endif %}
        {% if section.settings.right_box_button_html != blank %}
          <a href="{{ section.settings.right_box_button_link }}" class="standard__cta hero__btn btn--outline btn--white btn--long aos-init aos-animate">
            {{ section.settings.right_box_button_html }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Mobile Content Box -->
  <div class="mobile-content-box">
    {% if section.settings.mobile_kicker != blank %}
      <div class="hero__kicker accent-size-3 aos-init aos-animate">
        <p>{{ section.settings.mobile_kicker }}</p>
      </div>
    {% endif %}
    {% if section.settings.mobile_title != blank %}
      <div class="hero__title heading-size-10 aos-init aos-animate">
        <p>{{ section.settings.mobile_title }}</p>
      </div>
    {% endif %}
    {% if section.settings.mobile_text != blank %}
      <div class="hero__description rte body-size-6 aos-init aos-animate">
        <p>{{ section.settings.mobile_text }}</p>
      </div>
    {% endif %}
    {% if section.settings.mobile_button_html != blank %}
      <a href="{{ section.settings.mobile_button_link }}" class="btn standard__cta hero__btn btn--black btn--long aos-init aos-animate">
        {{ section.settings.mobile_button_html }}
      </a>
    {% endif %}
    {% if section.settings.mobile_button_html_2 != blank %}
      <a href="{{ section.settings.mobile_button_link_2 }}" class="standard__cta hero__btn btn--outline btn--black btn--long aos-init aos-animate">
        {{ section.settings.mobile_button_html_2 }}
      </a>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Advanced Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Background Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Background Image"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Section height",
      "default": "use_screen_two_thirds",
      "options": [
        { "value": "use_screen_full", "label": "Full screen height"},
        { "value": "use_screen_three_quarters", "label": "Three quarters of screen height"},
        { "value": "use_screen_two_thirds", "label": "Two thirds of screen height"},
        { "value": "use_screen_one_half", "label": "One half of screen height"},
        { "value": "use_screen_one_third", "label": "One third of screen height"},
        { "value": "use_screen_one_fifth", "label": "One fifth of screen height"},
        { "value": "use_pixels_800", "label": "800px" },
        { "value": "use_pixels_650", "label": "650px" },
        { "value": "use_pixels_500", "label": "500px" },
        { "value": "use_image", "label": "Image height"}
      ]
    },
    {
      "type": "range",
      "id": "desktop_padding_top",
      "label": "Desktop Padding Top (px)",
      "default": 40,
      "min": 0,
      "max": 100
    },
    {
      "type": "range",
      "id": "desktop_padding_bottom",
      "label": "Desktop Padding Bottom (px)",
      "default": 40,
      "min": 0,
      "max": 100
    },
    {
      "type": "range",
      "id": "desktop_side_padding",
      "label": "Desktop Side Padding (px)",
      "default": 40,
      "min": 0,
      "max": 100
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Mobile Padding Top (px)",
      "default": 20,
      "min": 0,
      "max": 100
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Mobile Padding Bottom (px)",
      "default": 20,
      "min": 0,
      "max": 100
    },
    {
      "type": "range",
      "id": "mobile_side_padding",
      "label": "Mobile Side Padding (px)",
      "default": 20,
      "min": 0,
      "max": 100
    },
    {
      "type": "color",
      "id": "left_box_text_color",
      "label": "Left Box Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "right_box_text_color",
      "label": "Right Box Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "mobile_text_color",
      "label": "Mobile Box Text Color",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "left_box_kicker",
      "label": "Left Box Kicker"
    },
    {
      "type": "text",
      "id": "left_box_title",
      "label": "Left Box Title"
    },
    {
      "type": "textarea",
      "id": "left_box_text",
      "label": "Left Box Text"
    },
    {
      "type": "textarea",
      "id": "left_box_button_html",
      "label": "Left Box Button Text (HTML)"
    },
    {
      "type": "url",
      "id": "left_box_button_link",
      "label": "Left Box Button Link"
    },
    {
      "type": "text",
      "id": "right_box_kicker",
      "label": "Right Box Kicker"
    },
    {
      "type": "text",
      "id": "right_box_title",
      "label": "Right Box Title"
    },
    {
      "type": "textarea",
      "id": "right_box_text",
      "label": "Right Box Text"
    },
    {
      "type": "textarea",
      "id": "right_box_button_html",
      "label": "Right Box Button Text (HTML)"
    },
    {
      "type": "url",
      "id": "right_box_button_link",
      "label": "Right Box Button Link"
    },
    {
      "type": "text",
      "id": "mobile_kicker",
      "label": "Mobile Box Kicker"
    },
    {
      "type": "text",
      "id": "mobile_title",
      "label": "Mobile Box Title"
    },
    {
      "type": "textarea",
      "id": "mobile_text",
      "label": "Mobile Box Text"
    },
    {
      "type": "textarea",
      "id": "mobile_button_html",
      "label": "Mobile Box Button Text (HTML)"
    },
    {
      "type": "url",
      "id": "mobile_button_link",
      "label": "Mobile Box Button Link"
    },
    {
      "type": "textarea",
      "id": "mobile_button_html_2",
      "label": "Mobile Box Button Text 2 (HTML)"
    },
    {
      "type": "url",
      "id": "mobile_button_link_2",
      "label": "Mobile Box Button Link 2"
    },
    {
      "type": "select",
      "id": "left_box_justify",
      "label": "Left Box Horizontal Alignment",
      "options": [
        { "value": "flex-start", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "flex-end", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "left_box_align",
      "label": "Left Box Vertical Alignment",
      "options": [
        { "value": "flex-start", "label": "Top" },
        { "value": "center", "label": "Center" },
        { "value": "flex-end", "label": "Bottom" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "left_box_text_align",
      "label": "Left Box Text Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "right_box_justify",
      "label": "Right Box Horizontal Alignment",
      "options": [
        { "value": "flex-start", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "flex-end", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "right_box_align",
      "label": "Right Box Vertical Alignment",
      "options": [
        { "value": "flex-start", "label": "Top" },
        { "value": "center", "label": "Center" },
        { "value": "flex-end", "label": "Bottom" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "right_box_text_align",
      "label": "Right Box Text Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "mobile_box_vertical_align",
      "label": "Mobile Box Vertical Alignment",
      "options": [
        { "value": "flex-start", "label": "Top" },
        { "value": "center", "label": "Center" },
        { "value": "flex-end", "label": "Bottom" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "mobile_box_text_align",
      "label": "Mobile Box Text Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    }
  ],
  "presets": [
    {
      "name": "Advanced Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}